@model IEnumerable<codedepot.Models.Article>
@{
    Layout = "_ContentLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/mybootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="pagecontent col-lg-11">
    @foreach (var article in Model)
    {
        <table class="jumbotron2 ">
            <tr>
                <td colspan="3" class="col-md-10">@article.language</td>
            </tr>
            <tr>
                <td colspan="3" class="col-md-10">@article.articleTitle</td>
            </tr>
            <tr>
                <td class="col-md-2">@article.rating</td>
                <td class="text-left">@article.author</td>
                <td class="col-md-2">@article.date</td>
            </tr>
            <tr>
                <td colspan="3" class="col-md-10">@article.articleDescription</td>
            </tr>
        </table>
    }
    </div>

</body>
</html>
